<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div class="container text-center">
    <br><br><br>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid corporis
    dicta dolore ipsum mollitia nisi quos tempore totam, velit! Autem distinctio dolor eos
    impedit iste nobis quos repellendus voluptate?</span><span>Accusamus animi beatae consequatur
    earum facere, id illum, impedit ipsa nostrum obcaecati quisquam quod reiciendis sapiente sit
    tempora! Aliquid asperiores deleniti distinctio eum obcaecati quas, totam ullam unde! Mollitia,
    voluptatem!</span><span>Accusamus architecto aspernatur commodi dolore facilis fugiat illum
    ipsum iste iusto laboriosam libero, magnam modi natus omnis porro provident quam quidem quod,
    repellat sed sunt, ullam vero voluptate voluptatibus voluptatum.</span><span>Aliquid consectetur
    excepturi fugiat molestiae nam nemo recusandae similique, totam voluptatem voluptatum? Delectus
    eaque error explicabo, in porro repellat vitae voluptatum. Doloremque illo laborum libero quae
    qui quia ratione repellat.</span><span>Aliquid dicta enim facere fugiat inventore maiores nesciunt
    non reprehenderit rerum velit! Adipisci, aspernatur eaque ex impedit inventore itaque maiores minus
    molestias nesciunt pariatur perspiciatis reiciendis, sed similique ullam voluptatem!</span><span>
    Ab animi aut consectetur consequatur, facere in iusto minus totam vel voluptatem. Aspernatur eveniet
    expedita explicabo, facere, harum illo, impedit maiores mollitia nostrum obcaecati pariatur porro
    quia quis suscipit voluptatum.</span><span>A accusamus architecto commodi consequuntur, culpa
    dignissimos dolorum ducimus eius eveniet, illum iste itaque libero nam nisi nobis non obcaecati
    officia optio pariatur quod reiciendis repellat sequi vitae. Quidem, quis.</span><span>Minus
    neque vel voluptate! Commodi nam nisi nostrum perspiciatis tempora tempore vel, voluptatibus
    voluptatum. Aliquam cum, cumque enim est ex facere ipsam, molestiae perspiciatis possimus quasi,
    quo tempore voluptatem voluptates.</span><span>Fugit ipsa odio, quibusdam reiciendis sapiente
    soluta ullam vitae? Dolorum est ex fugiat laboriosam laborum, numquam placeat quas quibusdam q
    uod repellat rerum tempora, voluptates? Ab accusamus expedita numquam soluta voluptas.</span><span>
    Aliquid culpa, doloremque eius perspiciatis praesentium rerum tenetur vitae! Adipisci animi,
    aperiam at deserunt dicta dignissimos id illum magni nisi nulla provident quaerat quasi quo sunt
    tempore totam, veritatis vero.</span><span>Accusamus alias aliquam aperiam aut autem consequuntur
    cum dolores, eos eveniet ex laborum minus molestias mollitia neque nulla, qui quia quisquam
    repudiandae sapiente sed tempora, tempore temporibus ullam velit voluptatibus.</span><span>
    Accusamus alias architecto blanditiis eius error expedita, velit voluptates voluptatum. Ad
    beatae commodi id nobis qui? Eius illo nam nisi quae. Asperiores aspernatur enim id officia
    quibusdam sequi, vero. Nemo!</span><span>Aperiam architecto asperiores, assumenda, at atque bea
    tae ea exercitationem ipsam libero maxime minus nisi obcaecati officiis placeat, quam quibusda

    m quis rem rerum sapiente sit. Commodi illum, quo. Esse facere, fugiat?</span><span>A aliquid
    animi excepturi laboriosam laudantium magni, molestias nam non officiis soluta sunt velit, vo


    luptatum. Amet beatae, dolores earum illo ipsam nam nesciunt non reprehenderit sed sit suscip
    it totam vitae?</span><span>Ad excepturi expedita nihil. Architecto autem consequuntur doloribus
    , ducimus eos in inventore nemo nesciunt officiis rem? Est id nemo sit. Aperiam dolorem harum ips
    a labore molestiae neque optio, reprehenderit vel.</span></p>

<a href="{% url  'home' %}" class="btn btn-info" >Home</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
</body>
</html>